.layout-builder-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 2rem;
  left: 1rem;
  z-index: 9999;
  background-color: var(--color-base-300);
  padding: 2rem;
  border: 0.5px solid;
  border-radius: .5rem;
  max-height: 7.8rem;
  overflow: hidden;
  opacity: .5;
  transition: opacity .25s ease-in-out;
  max-width: 400px;

  .layout-builder__message {
    order: 0;
  }

  .form-item.form-type-vertical-tabs {
    order: 1;
  }

  .form-type-vertical-tabs {
    order: 2;

    .form-item {
      margin: 0;
    }
  }

  .form-actions {
    order: 3;
    margin: 0;
  }

  .js-show {
    order: 4;
  }

  div[data-drupal-selector="edit-actions"] {
    order: -1;
  }

  .entity-content-form-revision-information {
    margin-block: 0;
    padding: 0;
    .form-item-revision {
      margin-block: 0;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    max-height: 100%;
    opacity: 1;

    .js-show {
      order: -1;
    }

    div[data-drupal-selector="edit-actions"] {
      order: 1;
      padding: 0;
    }
  }
}

  .vlsuite-block.contextual-region {
    [hidden]:where(:not([hidden='until-found'])) {
      display: flex !important;
    }
  }
