@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("InterDisplay-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("InterDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("InterDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("InterDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("InterDisplay-ExtraBold.woff2") format("woff2");
}
