@import "tailwindcss/theme" source(none);
@import "tailwindcss/preflight" source(none);
@import "tailwindcss/utilities" source(none);

@import "./_base.css";
@import "./_fonts.css";
@import "./_utilities.css";
@import "./_admin.css";
@import "./_helpers.css";
@import "./_forms.css";
@source "../index.html";
@source "../src";
@source "../templates";
@source "../components";

:root, :host {
  /* @css-variables-customizer-category Colors */
  --theme-base: oklch(100% 0 0);
  --theme-base-200: oklch(98% 0 0);
  --theme-base-300: oklch(95% 0 0);
  --theme-base-content: #000000;
  --theme-base-content-soft: oklch(55.1% .027 264.364);
  --theme-brand: oklch(45% .24 277.023);
  --theme-brand-content: oklch(93% .034 272.788);
  --theme-primary: #351F65;
  --theme-primary-content: oklch(93% .034 272.788);
  --theme-secondary: oklch(57.03% 0.209 353.90);
  --theme-secondary-content: oklch(100% 0 0);
  --theme-neutral: oklch(14% .005 285.823);
  --theme-neutral-content: oklch(92% .004 286.32);
  --theme-info: oklch(53.59% 0.117 236.81);
  --theme-info-content: oklch(100% 0 0);
  --theme-success: oklch(52.13% 0.114 162.29);
  --theme-success-content: oklch(100% 0 0);
  --theme-warning: oklch(54.51% 0.110 83.05);
  --theme-warning-content: oklch(100% 0 0);
  --theme-error: oklch(56.57% 0.226 26.94);
  --theme-error-content: oklch(100% 0 0);
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Typography */
  --theme-font-family: 'InterDisplay';

  --theme-font-size: 1rem;
  --theme-font-size-sm: calc(var(--theme-font-size) * .875);
  --theme-font-size-lg: calc(var(--theme-font-size) * 1.125);
  --theme-h1-font-size: calc(var(--theme-font-size) * 3);
  --theme-h2-font-size: calc(var(--theme-font-size) * 2.5);
  --theme-h3-font-size: calc(var(--theme-font-size) * 2);
  --theme-h4-font-size: calc(var(--theme-font-size) * 1.5);
  --theme-h5-font-size: calc(var(--theme-font-size) * 1.25);
  --theme-h6-font-size: var(--theme-font-size);

  --theme-line-height: 1.5;
  --theme-line-height-xs: calc(var(--theme-line-height) / 1.5); /* 1 */
  --theme-line-height-sm: calc(var(--theme-line-height) / 1.25); /* 1.2 */
  --theme-line-height-lg: calc(var(--theme-line-height) * 1.2); /* 1.8 */

  --theme-font-weight-thin: 100;
  --theme-font-weight-extralight: 200;
  --theme-font-weight-light: 300;
  --theme-font-weight-normal: 400;
  --theme-font-weight-medium: 500;
  --theme-font-weight-semibold: 600;
  --theme-font-weight-bold: 700;
  --theme-font-weight-extrabold: 800;
  --theme-font-weight-black: 900;
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Container */
  --theme-container-width-sm: calc(var(--theme-container-width) * 0.45); /* 576px */
  --theme-container-width-md: calc(var(--theme-container-width) * 0.6); /* 768px */
  --theme-container-width-lg: calc(var(--theme-container-width) * 0.8); /* 1024px */
  --theme-container-width: 80rem; /* 1280px */
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Spacing */
  --theme-spacing: .25rem;
  --theme-gap: calc(var(--theme-spacing) * 8);
  --theme-container-padding-x:calc(var(--theme-spacing) * 4);
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Radius */
  --theme-radius: 0.5rem;
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Shadow */
  --theme-shadow-color-rgb: 0 0 0;
  --theme-shadow: 0 10px 15px -3px rgb(var(--theme-shadow-color-rgb) / 0.1), 0 4px 6px -4px rgb(var(--theme-shadow-color-rgb) / 0.1);
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Links */
  --theme-link-content: var(--theme-primary);
  --theme-link-hover-content: var(--theme-secondary);
  --theme-link-focus-content: var(--theme-primary);
  --theme-link-focus-visible-content: var(--theme-primary);
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Tables */
  --theme-table-font-size: var(--theme-font-size);
  --theme-table-header: var(--theme-primary);
  --theme-table-header-content: var(--theme-primary-content);
  --theme-table-header-font-weight: var(--theme-font-weight-bold);
  --theme-table-body-content: var(--theme-base-content);
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Forms */
  --form-item-margin-bottom: calc(var(--theme-spacing) * 8);
  --form-label-margin: calc(var(--theme-spacing) * 2);
  --form-label-font-weight: var(--font-weight-medium);
  --form-input-border-color: var(--color-gray-300);
  --form-input-padding: calc(var(--theme-spacing) * 1.5) calc(var(--theme-spacing) * 3);
  --form-checkbox-separation: 1.5rem;
  --form-checkbox-color: var(--color-primary);
  --form-description-margin-top: calc(var(--theme-spacing) * 2);
  --form-description-color: var(--color-gray-500);
  /* @css-variables-customizer-category-end */

  /* @css-variables-customizer-category Site specific variables
  --theme-header-height: 124px;
  --theme-toolbar-offset: var(--drupal-displace-offset-top, 0px);
  --theme-header-height-offset: calc(var(--theme-header-height) + var(--theme-toolbar-offset));*/
  /* @css-variables-customizer-category-end */

  @media (min-width: theme(--breakpoint-lg)) {
    --theme-h1-font-size: calc(var(--theme-font-size) * 3.25);
    --theme-h2-font-size: calc(var(--theme-font-size) * 2.75);
    --theme-h3-font-size: calc(var(--theme-font-size) * 1.75);
    --theme-h4-font-size: calc(var(--theme-font-size) * 1.5);
    --theme-h5-font-size: calc(var(--theme-font-size) * 1.25);
    --theme-h6-font-size: calc(var(--theme-font-size));
  }
}

[data-theme="dark"] {
  --theme-base: oklch(25.33% .016 252.42);
  --theme-base-200: oklch(23.26% .014 253.1);
  --theme-base-300: oklch(21.15% .012 254.09);
  --theme-base-content: #FFFFFF;
  --theme-base-content-soft: oklch(0.68 0.02 264.58);
  --theme-brand: oklch(58% .233 277.117);
  --theme-brand-content: oklch(96% .018 272.314);
  --theme-primary: oklch(68.65% 0.170 282.10);
  --theme-primary-content: oklch(32.45% 0.161 276.50);
  --theme-secondary: oklch(68.71% 0.228 355.58);
  --theme-secondary-content: oklch(29.18% 0.076 352.98);
  /*--theme-neutral: oklch(14% .005 285.823);*/
  /*--theme-neutral-content: oklch(92% .004 286.32);*/
  --theme-info: oklch(74% .16 232.661);
  --theme-info-content: oklch(29% .066 243.157);
  --theme-success: oklch(76% .177 163.223);
  --theme-success-content: oklch(37% .077 168.94);
  --theme-warning: oklch(82% .189 84.429);
  --theme-warning-content: oklch(41% .112 45.904);
  --theme-error: oklch(71% .194 13.428);
  --theme-error-content: oklch(27% .105 12.094);
}

/* @see https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@theme static {
  --font-sans: var(--theme-font-family);

  --text-xs: calc(var(--theme-font-size) * .75); /* 0.75rem */
  --text-sm: var(--theme-font-size-sm); /* 0.875rem */
  --text-base: var(--theme-font-size); /* 1rem */
  --text-lg: var(--theme-font-size-lg); /* 1.125rem */
  --text-xl: calc(var(--theme-font-size) * 1.25); /* 1.25rem */
  --text-2xl: calc(var(--theme-font-size) * 1.5); /* 1.5rem */
  --text-3xl: calc(var(--theme-font-size) * 1.875); /* 1.875rem */
  --text-4xl: calc(var(--theme-font-size) * 2.25); /* 2.25rem */
  --text-5xl: calc(var(--theme-font-size) * 2.5); /* 2.5rem */
  --text-6xl: calc(var(--theme-font-size) * 3); /* 3rem */
  --text-7xl: calc(var(--theme-font-size) * 3.5); /* 3.5rem */
  --text-8xl: calc(var(--theme-font-size) * 4); /* 4rem */
  --text-9xl: calc(var(--theme-font-size) * 4.5); /* 4.5rem */

  --text-xs-line-height: var(--theme-line-height-sm); /* 1.2 */
  --text-sm-line-height: var(--theme-line-height-sm);
  --text-base-line-height: var(--theme-line-height); /* 1.5 */
  --text-lg-line-height: var(--theme-line-height);
  --text-xl-line-height: var(--theme-line-height);
  --text-2xl-line-height: var(--theme-line-height-sm);
  --text-3xl-line-height: var(--theme-line-height-sm);
  --text-4xl-line-height: var(--theme-line-height-xs); /* 1 */
  --text-5xl-line-height: var(--theme-line-height-xs);
  --text-6xl-line-height: var(--theme-line-height-xs);
  --text-7xl-line-height: var(--theme-line-height-xs);
  --text-8xl-line-height: var(--theme-line-height-xs);
  --text-9xl-line-height: var(--theme-line-height-xs);

  --font-weight-thin: var(--theme-font-weight-thin); /* 100 */
  --font-weight-extralight: var(--theme-font-weight-extralight); /* 200 */
  --font-weight-light: var(--theme-font-weight-light); /* 300 */
  --font-weight-normal: var(--theme-font-weight-normal); /* 400 */
  --font-weight-medium: var(--theme-font-weight-medium); /* 500 */
  --font-weight-semibold: var(--theme-font-weight-semibold); /* 600 */
  --font-weight-bold: var(--theme-font-weight-bold); /* 700 */
  --font-weight-extrabold: var(--theme-font-weight-extrabold); /* 800 */
  --font-weight-black: var(--theme-font-weight-black); /* 900 */

  --radius-xs: calc(var(--theme-radius) * .25); /* 0.125rem */
  --radius-sm: calc(var(--theme-radius) * .5); /* 0.25rem */
  --radius-md: calc(var(--theme-radius) * .75); /* 0.375rem */
  --radius-lg: var(--theme-radius); /* 0.5rem */
  --radius-xl: calc(var(--theme-radius) * 1.5); /* 0.75rem */
  --radius-2xl: calc(var(--theme-radius) * 2); /* 1rem */
  --radius-3xl: calc(var(--theme-radius) * 3); /* 1.5rem */
  --radius-4xl: calc(var(--theme-radius) * 4); /* 2rem */

  --shadow-2xs: 0 1px rgb(var(--theme-shadow-color-rgb) / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(var(--theme-shadow-color-rgb) / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(var(--theme-shadow-color-rgb) / 0.1), 0 1px 2px -1px rgb(var(--theme-shadow-color-rgb) / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(var(--theme-shadow-color-rgb) / 0.1), 0 2px 4px -2px rgb(var(--theme-shadow-color-rgb) / 0.1);
  --shadow-lg: var(--theme-shadow);
  --shadow-xl: 0 20px 25px -5px rgb(var(--theme-shadow-color-rgb) / 0.1), 0 8px 10px -6px rgb(var(--theme-shadow-color-rgb) / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(var(--theme-shadow-color-rgb) / 0.25);

  --spacing: var(--theme-spacing);

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-3xs: calc(var(--theme-container-width) * 0.20); /* 256px */
  --container-2xs: calc(var(--theme-container-width) * 0.225); /* 288px */
  --container-xs: calc(var(--theme-container-width) * 0.25); /* 320px */
  --container-sm: calc(var(--theme-container-width) * 0.3); /* 384px */
  --container-md: calc(var(--theme-container-width) * 0.35); /* 448px */
  --container-lg: calc(var(--theme-container-width) * 0.4); /* 512px */
  --container-xl: calc(var(--theme-container-width) * 0.45); /* 576px */
  --container-2xl: calc(var(--theme-container-width) * 0.525); /* 672px */
  --container-3xl: calc(var(--theme-container-width) * 0.6); /* 768px */
  --container-4xl: calc(var(--theme-container-width) * 0.7); /* 896px */
  --container-5xl: calc(var(--theme-container-width) * 0.8); /* 1024px */
  --container-6xl: calc(var(--theme-container-width) * 0.9); /* 1152px */
  --container-7xl: var(--theme-container-width); /* 1280px */
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  /* If you want to have the whole base of daisyui & tailwindcss available by direct classes, then remove "include"
  @see https://daisyui.com/docs/config/#include */
  include:
    badge,
    breadcrumbs,
    button,
    card,
    hero,
    collapse,
    dropdown,
    menu,
    modal,
    navbar,
    progress,
    radialprogress,
    stat,
    steps,
    link,
    alert,
    drawer,
    table,
    footer,
    toggle,
    timeline,
    tab;
}

@plugin "daisyui/theme" {
  name: "light";
  color-scheme: "light";
  --color-base-100: var(--theme-base);
  --color-base-200: var(--theme-base-200);
  --color-base-300: var(--theme-base-300);
  --color-base-content: var(--theme-base-content);
  --color-primary: var(--theme-primary);
  --color-primary-content: var(--theme-primary-content);
  --color-secondary: var(--theme-secondary);
  --color-secondary-content: var(--theme-secondary-content);
  --color-accent: var(--theme-accent);
  --color-accent-content: var(--theme-accent-content);
  --color-neutral: var(--theme-neutral);
  --color-neutral-content: var(--theme-neutral-content);
  --color-info: var(--theme-info);
  --color-info-content: var(--theme-info-content);
  --color-error: var(--theme-error);
  --color-error-content: var(--theme-error-content);
  --color-success: var(--theme-success);
  --color-success-content: var(--theme-success-content);
  --color-warning: var(--theme-warning);
  --color-warning-content: var(--theme-warning-content);
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: "dark";
  --color-base-100: var(--theme-base);
  --color-base-200: var(--theme-base-200);
  --color-base-300: var(--theme-base-300);
  --color-base-content: var(--theme-base-content);
  --color-primary: var(--theme-primary);
  --color-primary-content: var(--theme-primary-content);
  --color-secondary: var(--theme-secondary);
  --color-secondary-content: var(--theme-secondary-content);
  --color-accent: var(--theme-accent);
  --color-accent-content: var(--theme-accent-content);
  --color-neutral: var(--theme-neutral);
  --color-neutral-content: var(--theme-neutral-content);
  --color-info: var(--theme-info);
  --color-info-content: var(--theme-info-content);
  --color-error: var(--theme-error);
  --color-error-content: var(--theme-error-content);
  --color-success: var(--theme-success);
  --color-success-content: var(--theme-success-content);
  --color-warning: var(--theme-warning);
  --color-warning-content: var(--theme-warning-content);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));